  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="header-icon"><i class="pe-7s-date"></i></div>
    <div class="header-title">
       <h1>Lobi panels</h1>
       <small>For documentation visit <a href="https://lobianijs.com/site/lobipanel#examples" target="_blank">Lobipanel webpage</a></small>
    </div>
 </section>
 <!-- Main content -->
 <section class="content">
    <div class="row">
       <div class="col-sm-12 col-md-8">
          <!-- Multiple panels with drag & drop -->
          <div class="panel panel-bd lobidrag">
             <div class="panel-heading">
                <div class="panel-title">
                   <h4>Multiple panels with drag & drop</h4>
                </div>
             </div>
             <div class="panel-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                   standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                   a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                   remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                </p>
             </div>
             <div class="panel-footer">
                This is standard panel footer
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4">
          <!-- Default Panel -->
          <div class="panel panel-bd lobidisable">
             <div class="panel-heading">
                <div class="panel-title">
                   <h4>Default Panel</h4>
                </div>
             </div>
             <div class="panel-body">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                   at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                   as opposed to using 'Content here, content here', making it look like readable English.
                </p>
             </div>
             <div class="panel-footer">
                This is standard panel footer
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4">
          <!-- Primary Panel -->
          <div class="panel panel-primary lobidisable">
             <div class="panel-heading">
                <div class="panel-title">
                   <h4>Primary Panel</h4>
                </div>
             </div>
             <div class="panel-body">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                   at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                   as opposed to using 'Content here, content here', making it look like readable English.
                </p>
             </div>
             <div class="panel-footer">
                This is standard panel footer
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4">
          <!-- Success Panel -->
          <div class="panel panel-success lobidisable">
             <div class="panel-heading">
                <div class="panel-title">
                   <h4>Success Panel</h4>
                </div>
             </div>
             <div class="panel-body">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                   at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                   as opposed to using 'Content here, content here', making it look like readable English.
                </p>
             </div>
             <div class="panel-footer">
                This is standard panel footer
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4">
          <!-- Info Panel -->
          <div class="panel panel-info lobidisable">
             <div class="panel-heading">
                <div class="panel-title">
                   <h4>Info Panel</h4>
                </div>
             </div>
             <div class="panel-body">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                   at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                   as opposed to using 'Content here, content here', making it look like readable English.
                </p>
             </div>
             <div class="panel-footer">
                This is standard panel footer
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4">
          <!-- Warning Panel -->
          <div class="panel panel-warning lobidisable">
             <div class="panel-heading">
                <div class="panel-title">
                   <h4>Warning Panel</h4>
                </div>
             </div>
             <div class="panel-body">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                   at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                   as opposed to using 'Content here, content here', making it look like readable English.
                </p>
             </div>
             <div class="panel-footer">
                This is standard panel footer
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4">
          <!-- Danger Panel -->
          <div class="panel panel-danger lobidisable">
             <div class="panel-heading">
                <div class="panel-title">
                   <h4>Danger Panel</h4>
                </div>
             </div>
             <div class="panel-body">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                   at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                   as opposed to using 'Content here, content here', making it look like readable English.
                </p>
             </div>
             <div class="panel-footer">
                This is standard panel footer
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4">
          <!-- Inverse Panel -->
          <div class="panel panel-inverse lobidisable">
             <div class="panel-heading">
                <div class="panel-title">
                   <h4>Inverse Panel</h4>
                </div>
             </div>
             <div class="panel-body">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                   at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                   as opposed to using 'Content here, content here', making it look like readable English.
                </p>
             </div>
             <div class="panel-footer">
                This is standard panel footer
             </div>
          </div>
       </div>
    </div>
    <!-- /.row -->
 </section>
 <!-- /.content -->