 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="header-icon">
     <i class="fa fa-cart-plus"></i>
  </div>
  <div class="header-title">
     <h1>Payroll Summary</h1>
     <small>Payroll Summary details</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="btn-group buttonexport">
                 <a href="#">
                    <h4>Payroll Summary</h4>
                 </a>
              </div>
           </div>
           <div class="panel-body">
           <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
              <div class="btn-group">
                 <button class="btn btn-exp btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Table Data</button>
                 <ul class="dropdown-menu exp-drop" role="menu">
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false'});"> 
                       <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});">
                       <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (ignoreColumn)</a>
                    </li>
                    <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'true'});">
                       <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (with Escape)</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'xml',escape:'false'});">
                       <img src="assets/dist/img/xml.png" width="24" alt="logo"> XML</a>
                    </li>
                    <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'sql'});"> 
                       <img src="assets/dist/img/sql.png" width="24" alt="logo"> SQL</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'csv',escape:'false'});"> 
                       <img src="assets/dist/img/csv.png" width="24" alt="logo"> CSV</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'txt',escape:'false'});"> 
                       <img src="assets/dist/img/txt.png" width="24" alt="logo"> TXT</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'excel',escape:'false'});"> 
                       <img src="assets/dist/img/xls.png" width="24" alt="logo"> XLS</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'doc',escape:'false'});">
                       <img src="assets/dist/img/word.png" width="24" alt="logo"> Word</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'powerpoint',escape:'false'});"> 
                       <img src="assets/dist/img/ppt.png" width="24" alt="logo"> PowerPoint</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'png',escape:'false'});"> 
                       <img src="assets/dist/img/png.png" width="24" alt="logo"> PNG</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});"> 
                       <img src="assets/dist/img/pdf.png" width="24" alt="logo"> PDF</a>
                    </li>
                 </ul>
              </div>
              <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->
              <div class="table-responsive">
                 <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                    <thead>
                       <tr class="info">
                          <th>Date</th>
                          <th>User Name</th>
                          <th>Module</th>
                          <th>Activity</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr>
                          <td>16-09-2017</td>
                          <td>Marcus alanso</td>
                          <td>Payroll</td>
                          <td>Salary Template Added Manager</td>
                       </tr>
                       <tr>
                          <td>16-05-2017</td>
                          <td>thio walcott</td>
                          <td>Payroll</td>
                          <td>Select Details Updated Accounting</td>
                       </tr>
                       <tr>
                          <td>19-04-2017</td>
                          <td>andre Pirlo</td>
                          <td>Payroll</td>
                          <td>Select Details Updated sports</td>
                       </tr>
                       <tr>
                          <td>13-05-2017</td>
                          <td>Robert Brown</td>
                          <td>Payroll</td>
                          <td>Salary Template Added Manager</td>
                       </tr>
                       <tr>
                          <td>15-02-2017</td>
                          <td>Svenska anamika</td>
                          <td>Payroll</td>
                          <td>Salary Template Added Manager</td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->