    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="header-icon">
         <i class="fa fa-gears"></i>
      </div>
      <div class="header-title">
         <h1>System Status</h1>
         <small>System status details</small>
      </div>
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
               <div class="panel-heading">
                  <div class="panel-title">
                     <h4>System status</h4>
                  </div>
               </div>
               <div class="panel-body">
                  <h1>PHP Version 5.05.6 laravel windows</h1>
                  <div class="table-responsive">
                     <table class="table table-striped table-hover">
                        <tbody>
                           <tr>
                              <td >System </td>
                              <td>Linux alrazy.com 4.4.0-69-generic #47~14.04.1-Ubuntu asp Fri Jun 24 16:30:35 UTC 2017 x86_64 </td>
                           </tr>
                           <tr>
                              <td>Build Date </td>
                              <td>May 19 2016 19:05:33 </td>
                           </tr>
                           <tr>
                              <td>Server API </td>
                              <td>Apache 2.0 Handler </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <h1>HTTP Headers Information </h1>
                  <div class="table-responsive">
                     <table class="table table-striped table-hover">
                        <tbody>
                           <tr>
                              <td>HTTP Request </td>
                              <td>HTTP Request Headers </td>
                              <td>GET /util/sys_status </td>
                           </tr>
                           <tr>
                              <td>Host </td>
                              <td>demo.ard.com </td>
                              <td>GET /util/sys_status </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- /.content -->