 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="header-icon">
     <i class="fa fa-cart-plus"></i>
  </div>
  <div class="header-title">
     <h1>Manage Stock Category</h1>
     <small>Manage list</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-6">
        <div class="panel lobidisable panel-bd">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Stock Category</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                 <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       <i class="more-less glyphicon glyphicon-plus"></i>
                       Food
                       </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                       <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                             <thead>
                                <tr class="info">
                                   <th>Serial No.</th>
                                   <th>Type</th>
                                   <th>Action</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>01</td>
                                   <td>Banana</td>
                                   <td>
                                      <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#delup"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delt"><i class="fa fa-trash-o"></i> </button>
                                   </td>
                                </tr>
                                <tr>
                                   <td>02</td>
                                   <td>Apple</td>
                                   <td>
                                      <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#delup"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delt"><i class="fa fa-trash-o"></i> </button>
                                   </td>
                                </tr>
                                <tr>
                                   <td>03</td>
                                   <td>Orange</td>
                                   <td>
                                      <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#delup"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delt"><i class="fa fa-trash-o"></i> </button>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!--end panel group-->   
        </div>
     </div>
     <div class="col-sm-6">
        <div class="panel lobidisable panel-bd">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Stock Category</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                 <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                       <i class="more-less glyphicon glyphicon-plus"></i>
                       Sports 
                       </a>
                    </div>
                    <div id="collapsetwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                       <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                             <thead>
                                <tr class="info">
                                   <th>Serial No.</th>
                                   <th>Type</th>
                                   <th>Action</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>01</td>
                                   <td>Nike shirts</td>
                                   <td>
                                      <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#delup"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delt"><i class="fa fa-trash-o"></i> </button>
                                   </td>
                                </tr>
                                <tr>
                                   <td>02</td>
                                   <td>Sheos</td>
                                   <td>
                                      <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#delup"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delt"><i class="fa fa-trash-o"></i> </button>
                                   </td>
                                </tr>
                                <tr>
                                   <td>03</td>
                                   <td>Kits</td>
                                   <td>
                                      <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#delup"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delt"><i class="fa fa-trash-o"></i> </button>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
              <!--end panel group-->   
           </div>
           <!--end panel body-->
        </div>
     </div>
     <div class="col-sm-12 col-md-12">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Stock History</h4>
              </div>
           </div>
           <div class="panel-body">
              <form action="#" method="post">
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Select Stock Category <span class="required">*</span></label>
                    <div class="col-sm-5">
                       <select class="form-control" tabindex="-1" aria-hidden="true">
                          <option value="">Select Stock Category</option>
                          <optgroup label="Food">
                             <option value="1">sports</option>
                          </optgroup>
                       </select>
                    </div>
                    <div class="col-sm-2">
                       <button type="submit" id="sbtn" value="1" name="flag" class="btn btn-add">Go</button>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>
  <!-- customer Modal1 -->
  <div class="modal fade" id="delup" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header modal-header-primary">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3><i class="fa fa-flag m-r-5"></i> Update Stock category</h3>
           </div>
           <div class="modal-body">
              <div class="row">
                 <div class="col-md-12">
                    <form class="form-horizontal">
                       <fieldset>
                          <!-- Text input-->
                          <div class="col-md-4 form-group">
                             <label class="control-label">Serial</label>
                             <input type="number" placeholder="serial" class="form-control">
                          </div>
                          <!-- Text input-->
                          <div class="col-md-4 form-group">
                             <label class="control-label">Type</label>
                             <input type="text" placeholder="type" class="form-control">
                          </div>
                          <div class="col-md-12 form-group user-form-group">
                             <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                <button type="submit" class="btn btn-add btn-sm">Update</button>
                             </div>
                          </div>
                       </fieldset>
                    </form>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
           </div>
        </div>
        <!-- /.modal-content -->
     </div>
     <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Modal -->    
  <!-- Delete dep[artments Modal2 -->
  <div class="modal fade" id="delt" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header modal-header-primary">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3><i class="fa fa-flag m-r-5"></i> Delete Stocks products</h3>
           </div>
           <div class="modal-body">
              <div class="row">
                 <div class="col-md-12">
                    <form class="form-horizontal">
                       <fieldset>
                          <div class="col-md-12 form-group user-form-group">
                             <label class="control-label">Delete products</label>
                             <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-sm">NO</button>
                                <button type="submit" class="btn btn-add btn-sm">YES</button>
                             </div>
                          </div>
                       </fieldset>
                    </form>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
           </div>
        </div>
        <!-- /.modal-content -->
     </div>
     <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</section>
<!-- /.content -->