 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="header-icon">
     <i class="fa fa-tree"></i>
  </div>
  <div class="header-title">
     <h1>Tree View</h1>
     <small>Bootstrap Treeview</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4> Tree View</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="row">
                 <div class="col-md-4">
                    <p class="well"><strong>Initialization no parameters</strong>
                       <!-- <br /> <code>$('#tree1').treed();</code> -->
                    </p>
                    <ul id="tree1">
                       <li>
                          <a href="#">TECH</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                       <li>
                          <a href="#">XRP</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                       <li>
                          <a href="#">Tree View One</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                    </ul>
                 </div>
                 <div class="col-md-4">
                    <p class="well" style="height:135px;"><strong>Initialization optional parameters</strong>
                       <!-- <br /> <code>$('#tree2').treed({openedClass : 'fa-folder-open', closedClass : 'fa-folder'});</code> -->
                    </p>
                    <ul id="tree2">
                       <li>
                          <a href="#">TECH</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                       <li>
                          <a href="#">XRP</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                       <li>
                          <a href="#">Tree View Four</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                    </ul>
                 </div>
                 <div class="col-md-4">
                    <p class="well" style="height:135px;"><strong>Initialization optional parameters</strong>
                       <!-- <br /> <code>$('#tree3').treed({openedClass:'fa-plus', closedClass:'fa-minus'});</code> -->
                    </p>
                    <ul id="tree3">
                       <li>
                          <a href="#">TECH</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                       <li>
                          <a href="#">XRP</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                       <li>
                          <a href="#">Tree View Five</a>
                          <ul>
                             <li>Company Maintenance</li>
                             <li>
                                Employees
                                <ul>
                                   <li>
                                      Reports
                                      <ul>
                                         <li>Report1</li>
                                         <li>Report2</li>
                                         <li>Report3</li>
                                      </ul>
                                   </li>
                                   <li>Employee Maint.</li>
                                </ul>
                             </li>
                             <li>Human Resources</li>
                          </ul>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->