<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="header-icon">
     <i class="fa fa-file-text-o"></i>
  </div>
  <div class="header-title">
     <h1>Tax Rates</h1>
     <small>Tax Rates list</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="btn-group" id="buttonexport">
                 <a href="#">
                    <h4>Tax Rates</h4>
                 </a>
              </div>
           </div>
           <div class="panel-body">
           <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
              <div class="btn-group">
                 <div class="buttonexport" id="buttonlist"> 
                    <a class="btn btn-add" href="#" data-toggle="modal" data-target="#taxreport"> <i class="fa fa-plus"></i> Add Tax rates
                    </a>  
                 </div>
                 <button class="btn btn-exp btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Table Data</button>
                 <ul class="dropdown-menu exp-drop" role="menu">
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false'});"> 
                       <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});">
                       <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (ignoreColumn)</a>
                    </li>
                    <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'true'});">
                       <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (with Escape)</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'xml',escape:'false'});">
                       <img src="assets/dist/img/xml.png" width="24" alt="logo"> XML</a>
                    </li>
                    <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'sql'});"> 
                       <img src="assets/dist/img/sql.png" width="24" alt="logo"> SQL</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'csv',escape:'false'});"> 
                       <img src="assets/dist/img/csv.png" width="24" alt="logo"> CSV</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'txt',escape:'false'});"> 
                       <img src="assets/dist/img/txt.png" width="24" alt="logo"> TXT</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'excel',escape:'false'});"> 
                       <img src="assets/dist/img/xls.png" width="24" alt="logo"> XLS</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'doc',escape:'false'});">
                       <img src="assets/dist/img/word.png" width="24" alt="logo"> Word</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'powerpoint',escape:'false'});"> 
                       <img src="assets/dist/img/ppt.png" width="24" alt="logo"> PowerPoint</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'png',escape:'false'});"> 
                       <img src="assets/dist/img/png.png" width="24" alt="logo"> PNG</a>
                    </li>
                    <li>
                       <a href="#" onclick="$('#dataTableExample1').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});"> 
                       <img src="assets/dist/img/pdf.png" width="24" alt="logo"> PDF</a>
                    </li>
                 </ul>
              </div>
              <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->
              <div class="table-responsive">
                 <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                    <thead>
                       <tr class="info">
                          <th>Date</th>
                          <th>Account</th>
                          <th>Type</th>
                          <th>Category</th>
                          <th>Amount</th>
                          <th>Description</th>
                          <th>Credit</th>
                          <th>Balance</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr>
                          <td>02/05/2017</td>
                          <td>JP Morgan Chase & Co.</td>
                          <td>Income</td>
                          <td>small amount</td>
                          <td>$ 2,270.00 </td>
                          <td>Invoice 1586 Payment</td>
                          <td>$ 580.00</td>
                          <td>$ 485.00</td>
                       </tr>
                       <tr>
                          <td>02/05/2017</td>
                          <td>JP Morgan Chase & Co.</td>
                          <td>Income</td>
                          <td>small amount</td>
                          <td>$ 2,270.00 </td>
                          <td>Schneider-Bosco</td>
                          <td>$ 987.00</td>
                          <td>$ 642.00</td>
                       </tr>
                       <tr>
                          <td>02/05/2017</td>
                          <td>JP Morgan Chase & Co.</td>
                          <td>Income</td>
                          <td>huge amount</td>
                          <td>$ 2,270.00 </td>
                          <td>Mann-Raynor</td>
                          <td>$ 456.00</td>
                          <td>$ 987.00</td>
                       </tr>
                       <tr>
                          <td>02/06/2017</td>
                          <td>Morgan Chase & Co.</td>
                          <td>Income</td>
                          <td>huge amount</td>
                          <td>$ 2,270.00 </td>
                          <td>Invoice 1586 Payment</td>
                          <td>$ 580.00</td>
                          <td>$ 485.00</td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- taxreport Modal1 -->
  <div class="modal fade" id="taxreport" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header modal-header-primary">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3><i class="fa fa-user m-r-5"></i> Update taxreport</h3>
           </div>
           <div class="modal-body">
              <div class="row">
                 <div class="col-md-12">
                    <form class="form-horizontal">
                       <fieldset>
                          <!-- Text input-->
                          <div class="col-md-4 form-group">
                             <label class="control-label">Customer Name:</label>
                             <input type="text" placeholder="Customer Name" class="form-control">
                          </div>
                          <!-- Text input-->
                          <div class="col-md-4 form-group">
                             <label class="control-label">Email:</label>
                             <input type="email" placeholder="Email" class="form-control">
                          </div>
                          <!-- Text input-->
                          <div class="col-md-4 form-group">
                             <label class="control-label">Mobile</label>
                             <input type="number" placeholder="Mobile" class="form-control">
                          </div>
                          <div class="col-md-6 form-group">
                             <label class="control-label">Address</label>
                             <textarea name="address" rows="3"></textarea>
                          </div>
                          <div class="col-md-6 form-group">
                             <label class="control-label">type</label>
                             <input type="text" placeholder="type" class="form-control">
                          </div>
                          <div class="col-md-12 form-group user-form-group">
                             <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                <button type="submit" class="btn btn-add btn-sm">Save</button>
                             </div>
                          </div>
                       </fieldset>
                    </form>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
           </div>
        </div>
        <!-- /.modal-content -->
     </div>
     <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Modal -->    
  <!-- delete Modal2 -->
  <div class="modal fade" id="customer2" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header modal-header-primary">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3><i class="fa fa-user m-r-5"></i> Delete TAX</h3>
           </div>
           <div class="modal-body">
              <div class="row">
                 <div class="col-md-12">
                    <form class="form-horizontal">
                       <fieldset>
                          <div class="col-md-12 form-group user-form-group">
                             <label class="control-label">Delete Tax</label>
                             <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-sm">NO</button>
                                <button type="submit" class="btn btn-add btn-sm">YES</button>
                             </div>
                          </div>
                       </fieldset>
                    </form>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
           </div>
        </div>
        <!-- /.modal-content -->
     </div>
     <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</section>
<!-- /.content -->