 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="header-icon">
     <i class="fa fa-line-chart"></i>
  </div>
  <div class="header-title">
     <h1>Sparkline Charts</h1>
     <small>Preview sample. Documentation here: <a href="http://omnipotent.net/jquery.sparkline/#s-about" target="_blank">http://omnipotent.net/jquery.sparkline/#s-about</a></small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="spark_about">
           <p>
              This <a href="http://jquery.com/">jQuery</a> plugin generates <a href="http://en.wikipedia.org/wiki/Sparkline">
              sparklines</a> (small inline charts) directly in the browser using data supplied either inline in the HTML,
              or via javascript.
           </p>
           <p>
              The plugin is compatible with most modern browsers and has been tested with Firefox 2+, Safari 3+, Opera 9, Google
              Chrome and Internet Explorer 6, 7, 8, 9 & 10 as well as iOS and Android. Each example displayed below takes just 1
              line of HTML or javascript to generate.
           </p>
           <p>
              The plugin was written by <a href="http://omnipotent.net/">Gareth Watts</a>
              for <a href="http://www.splunk.com/">Splunk Inc</a> and released under the
              <a href="http://www.opensource.org/licenses/BSD-3-Clause">New BSD License</a>.
           </p>
        </div>
     </div>
  </div>
  <!-- Sparklines Charts -->
  <div class="row">
     <div class="col-sm-6 col-md-3">
        <div class="panel panel-bd">
           <div class="panel-body">
              <div class="statistic-box">
                 <h2><span class="count-number">206</span> <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +28%</span></h2>
                 <div class="small">% New Sessions</div>
                 <div class="sparkline1"></div>
              </div>
           </div>
        </div>
     </div>
     <div class="col-sm-6 col-md-3">
        <div class="panel panel-bd">
           <div class="panel-body">
              <div class="statistic-box">
                 <h2><span class="count-number">321</span> <span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> +10%</span> </h2>
                 <div class="small">Total visitors</div>
                 <div class="sparkline2"></div>
              </div>
           </div>
        </div>
     </div>
     <div class="col-sm-6 col-md-3">
        <div class="panel panel-bd">
           <div class="panel-body">
              <div class="statistic-box">
                 <h2><span class="count-number">789</span> <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +29%</span></h2>
                 <div class="small">Total users</div>
                 <div class="sparkline3"></div>
              </div>
           </div>
        </div>
     </div>
     <div class="col-sm-6 col-md-3">
        <div class="panel panel-bd">
           <div class="panel-body">
              <div class="statistic-box">
                 <h2><span class="count-number">171</span><span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> +24%</span></h2>
                 <div class="small">Bounce Rate</div>
                 <div class="sparkline4"></div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-12 col-md-12">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Sparklines Example chart</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="table-responsive">
                 <table class="table">
                    <thead>
                       <tr>
                          <th>Graph</th>
                          <th>Type</th>
                          <th>Code</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr>
                          <td><span id="sparkline5"></span></td>
                          <td>Inline line chart</td>
                          <!-- <td>{ type: 'line', lineColor: '#009688', fillColor: '#009688', width: '150', height: '20' }</td> -->
                       </tr>
                       <tr>
                          <td><span id="sparkline6"></span></td>
                          <td>Bar chart</td>
                          <!-- <td>{ type: 'bar', barColor: '#009688', negBarColor: '#c6c6c6', width: '150', height: '20' }</td> -->
                       </tr>
                       <tr>
                          <td><span id="sparkline7"></span></td>
                          <td>Pie chart</td>
                          <!-- <td>{ type: 'pie', sliceColors: ['#009688', '#ffffff'], width: '150', height: '20' }</td> -->
                       </tr>
                       <tr>
                          <td><span id="sparkline8"></span></td>
                          <td>Long inline chart</td>
                          <!-- <td>{ type: 'line', lineColor: '#009688', fillColor: '#009688', width: '150', height: '20' }</td> -->
                       </tr>
                       <tr>
                          <td><span id="sparkline9"></span> </td>
                          <td>Tristate chart</td>
                          <!-- <td>{ type: 'tristate', posBarColor: '#009688', negBarColor: '#ffffff', width: '150', height: '20'}</td> -->
                       </tr>
                       <tr>
                          <td><span id="sparkline10"></span></td>
                          <td>Discrete chart</td>
                          <!-- <td>{ type: 'discrete', lineColor: '#009688', width: '150', height: '20'}); }</td> -->
                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->