 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="header-icon">
     <i class="fa fa-line-chart"></i>
  </div>
  <div class="header-title">
     <h1>Morris Charts</h1>
     <small>Good looking charts shouldn't be difficult</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Area Line Graph with Tooltips</h4>
              </div>
           </div>
           <div class="panel-body">
              <div id="morris-area-chart"></div>
           </div>
        </div>
     </div>
     <div class="col-sm-12 col-md-4">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Donut Chart</h4>
              </div>
           </div>
           <div class="panel-body">
              <div id="morris-donut-chart"></div>
           </div>
        </div>
     </div>
     <div class="col-sm-12 col-md-4">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Line Graph with Tooltips</h4>
              </div>
           </div>
           <div class="panel-body">
              <div id="morris-line-chart"></div>
           </div>
        </div>
     </div>
     <div class="col-sm-12 col-md-4">
        <div class="panel panel-bd lobidisable" data-initial-index="4">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Bar Graph</h4>
              </div>
           </div>
           <div class="panel-body">
              <div id="morris-bar-chart"></div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->