<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="header-icon">
     <i class="fa fa-clock-o"></i>
  </div>
  <div class="header-title">
     <h1>Time History</h1>
     <small>Time History details</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="btn-group buttonexport">
                 <a href="#">
                    <h4>Time History Details</h4>
                 </a>
              </div>
           </div>
           <div class="panel-body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                 <li class="active"><a href="#tab1" data-toggle="tab">Senior accountant</a></li>
                 <li><a href="#tab2" data-toggle="tab">Developer</a></li>
              </ul>
              <!-- Tab panels -->
              <div class="tab-content">
                 <div class="tab-pane fade in active" id="tab1">
                    <div class="panel-body">
                       <h3>Alrazy Time Logs</h3>
                       <a href="#"><strong>Week 04</strong></a>  
                       <div class="table-responsive">
                          <table class="table table-bordered table-striped table-hover">
                             <thead>
                                <tr class="info">
                                   <th>Date</th>
                                   <th>In Time</th>
                                   <th>Out Time</th>
                                   <th>Hours</th>
                                   <th>Action</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>16-09-2017 To 22-09-2017</td>
                                   <td>09:45 AM</td>
                                   <td>12:04 PM</td>
                                   <td>12:00</td>
                                   <td class="text-center">
                                      <button type="button" class="btn btn-add btn-xs" data-toggle="modal" data-target="#update"><i class="fa fa-pencil"></i></button>
                                   </td>
                                </tr>
                                <tr>
                                   <td>14-09-2017 To 20-09-2017</td>
                                   <td>05:45 PM</td>
                                   <td>12:04 PM</td>
                                   <td>7:00</td>
                                   <td class="text-center">
                                      <button type="button" class="btn btn-add btn-xs" data-toggle="modal" data-target="#update"><i class="fa fa-pencil"></i></button>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
                 <div class="tab-pane fade" id="tab2">
                    <div class="panel-body">
                       <h3>Alamin Time Logs</h3>
                       <a href="#"> <strong>Week 01</strong></a>  
                       <div class="table-responsive">
                          <table class="table table-bordered table-striped table-hover">
                             <thead>
                                <tr class="info">
                                   <th>Date</th>
                                   <th>In Time</th>
                                   <th>Out Time</th>
                                   <th>Hours</th>
                                   <th>Action</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>16-09-2017 To 22-09-2017</td>
                                   <td>09:45 AM</td>
                                   <td>12:04 PM</td>
                                   <td>12:00</td>
                                   <td class="text-center">
                                      <button type="button" class="btn btn-add btn-xs" data-toggle="modal" data-target="#update"><i class="fa fa-pencil"></i></button>
                                   </td>
                                </tr>
                                <tr>
                                   <td>14-09-2017 To 20-09-2017</td>
                                   <td>05:45 PM</td>
                                   <td>12:04 PM</td>
                                   <td>7:00</td>
                                   <td class="text-center">
                                      <button type="button" class="btn btn-add btn-xs" data-toggle="modal" data-target="#update"><i class="fa fa-pencil"></i></button>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- Update Modal1 -->
  <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header modal-header-primary">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3><i class="fa fa-plus m-r-5"></i> Update</h3>
           </div>
           <div class="modal-body">
              <div class="row">
                 <div class="col-md-12">
                    <form class="form-horizontal">
                       <fieldset>
                          <!-- Text input-->
                          <div class="col-md-6 form-group">
                             <label class="control-label">Date</label>
                             <input type="number" placeholder="Date" class="form-control">
                          </div>
                          <!-- Text input-->
                          <div class="col-md-6 form-group">
                             <label class="control-label">In Time</label>
                             <input type="number" placeholder="In Time" class="form-control">
                          </div>
                          <div class="col-md-6 form-group">
                             <label class="control-label">Out Time</label>
                             <input type="number" placeholder="Out Time" class="form-control">
                          </div>
                          <div class="col-md-6 form-group">
                             <label class="control-label">Hours</label>
                             <input type="number" placeholder="Hours" class="form-control">
                          </div>
                          <div class="col-md-12 form-group user-form-group">
                             <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                <button type="submit" class="btn btn-add btn-sm">Update</button>
                             </div>
                          </div>
                       </fieldset>
                    </form>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
           </div>
        </div>
        <!-- /.modal-content -->
     </div>
     <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Modal -->    
</section>
<!-- /.content -->