 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="header-icon">
     <i class="fa fa-usd"></i>
  </div>
  <div class="header-title">
     <h1>Income expense comparesion</h1>
     <small>Income expense comparesion details</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="btn-group" id="buttonexport">
                 <a href="#">
                    <h4>Income expense comparesion</h4>
                 </a>
              </div>
           </div>
           <div class="panel-body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                 <li class="active"><a href="#tab1" data-toggle="tab">Income details</a></li>
                 <li><a href="#tab2" data-toggle="tab">Expense details</a></li>
              </ul>
              <!-- Tab panels -->
              <div class="tab-content">
                 <div class="tab-pane fade in active" id="tab1">
                    <div class="panel-body">
                       <div class="table-responsive">
                          <table class="table table-bordered table-striped table-hover">
                             <thead>
                                <tr class="info">
                                   <th>Total Income</th>
                                   <th>Total Income This Month</th>
                                   <th>Total Income This Week</th>
                                   <th>Total amount</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>$ 12,480.00</td>
                                   <td>$ 2,41.00</td>
                                   <td>$ 1,05.00</td>
                                   <td>$ 9,658.00</td>
                                </tr>
                                <tr>
                                   <td>$ 12,480.00</td>
                                   <td>$ 2,41.00</td>
                                   <td>$ 1,05.00</td>
                                   <td>$ 9,658.00</td>
                                </tr>
                             </tbody>
                             <tfoot>
                                <tr>
                                   <th>Total $ 12,480.00</th>
                                   <th>Total $ 564.00</th>
                                   <th>Total $ 054.00</th>
                                   <th>Total $ 8541.00</th>
                                </tr>
                             </tfoot>
                          </table>
                       </div>
                    </div>
                 </div>
                 <div class="tab-pane fade" id="tab2">
                    <div class="panel-body">
                       <div class="table-responsive">
                          <table class="table table-bordered table-striped table-hover">
                             <thead>
                                <tr class="info">
                                   <th>Total expense</th>
                                   <th>Total expense This Month</th>
                                   <th>Total expense This Week</th>
                                   <th>Total amount</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>$ 12,480.00</td>
                                   <td>$ 2,41.00</td>
                                   <td>$ 1,05.00</td>
                                   <td>$ 9,658.00</td>
                                </tr>
                                <tr>
                                   <td>$ 12,480.00</td>
                                   <td>$ 2,41.00</td>
                                   <td>$ 1,05.00</td>
                                   <td>$ 9,658.00</td>
                                </tr>
                             </tbody>
                             <tfoot>
                                <tr>
                                   <th>Total $ 12,94.00</th>
                                   <th>Total $ 784.00</th>
                                   <th>Total $ 954.00</th>
                                   <th>Total $ 741.00</th>
                                </tr>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->