 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="header-icon">
     <i class="fa fa-euro"></i>
  </div>
  <div class="header-title">
     <h1>Manage Salary</h1>
     <small>Salary manage details</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12 col-md-12">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Salary manage</h4>
              </div>
           </div>
           <div class="panel-body">
              <form action="#" method="post">
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Select Departments 
                    <span class="required">*</span></label>
                    <div class="col-sm-5">
                       <select class="form-control" tabindex="-1" aria-hidden="true">
                          <option value="">Select Departments Category</option>
                          <optgroup label="IT solution">
                             <option value="1">sports</option>
                             <option value="1">Food</option>
                          </optgroup>
                       </select>
                    </div>
                    <div class="col-sm-2 text-center" id="sbtn">
                       <button type="submit" value="1" class="btn btn-add">Search</button>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->