<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="header-icon">
     <i class="fa fa-euro"></i>
  </div>
  <div class="header-title">
     <h1>Generate Payslip</h1>
     <small>Payslip Details</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel lobidisable panel-bd">
           <div class="panel-heading">
              <div class="btn-group" id="buttonexport">
                 <a href="#">
                    <h4>General Payslip</h4>
                 </a>
              </div>
           </div>
           <div class="panel-body">
              <form>
                 <div class="col-sm-6 col-sm-offset-3 form-group">
                    <label>Select Department:</label>
                    <select class="form-control">
                       <option>Technology</option>
                       <option>Grapics design</option>
                       <option>Sports</option>
                       <option>Food</option>
                    </select>
                 </div>
                 <div class="col-sm-6 col-sm-offset-3 form-group">
                    <label>Select Month</label>
                    <div class="form-group">
                       <input  type="text" id='minMaxExample' class="form-control years" placeholder="Enter Date..">
                    </div>
                 </div>
                 <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group text-center">
                       <button id="submit" type="submit" value="1" class="btn btn-add ">search</button>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->