<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="header-icon">
     <i class="fa fa-dollar"></i>
  </div>
  <div class="header-title">
     <h1>Make Payments</h1>
     <small>Payments Details</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel lobidisable panel-bd">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Make Payment</h4>
              </div>
           </div>
           <div class="panel-body">
              <form>
                 <div class="col-sm-6 col-sm-offset-3 form-group">
                    <label>Select Department:</label>
                    <select class="form-control">
                       <option>Technology</option>
                       <option>Grapics design</option>
                       <option>Sports</option>
                       <option>Food</option>
                    </select>
                 </div>
                 <div class="col-sm-6 col-sm-offset-3 form-group">
                    <label>Select Month</label>
                    <div class=" input-group date form_date redate">
                       <input id='minMaxExample' class="form-control years" type="text"><span class="input-group-addon"><a href="#"><i class="fa fa-calendar"></i></a></span>
                    </div>
                 </div>
                 <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group text-center">
                       <button id="submit" type="submit" value="1" class="btn btn-add">Search</button>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->