 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="header-icon">
     <i class="fa fa-area-chart"></i>
  </div>
  <div class="header-title">
     <h1>Flot Charts</h1>
     <small>Preview sample. Documentation here: <a href="http://www.flotcharts.org/" target="_blank">http://www.flotcharts.org/</a></small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <!-- Flot Ber Chart -->
     <div class="col-sm-12 col-md-6">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Bar chart</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="flotChart">
                 <div id="flotChart1" class="flotChart-demo"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- Flot Points Chart -->
     <div class="col-sm-12 col-md-6">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Points chart</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="flotChart">
                 <div id="flotChart2" class="flotChart-demo"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- Flot Line Chart -->
     <div class="col-sm-12 col-md-6">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Line chart</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="flotChart">
                 <div id="flotChart3" class="flotChart-demo"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- Flot Real Time Chart -->
     <div class="col-sm-12 col-md-6">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Real time chart</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="flotChart">
                 <div id="flotChart4" class="flotChart-demo"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- Flot Filled Area Chart -->
     <div class="col-sm-12 col-md-6">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Filled Area chart </h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="flotChart">
                 <div id="flotChart5" class="flotChart-demo"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- Flot Line Chart With Steps -->
     <div class="col-sm-12 col-md-6">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Line chart with steps</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="flotChart">
                 <div id="flotChart6" class="flotChart-demo"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- Flot Line With Points Chart -->
     <div class="col-sm-12 col-md-8">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Line with points</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="flotChart">
                 <div id="flotChart7" class="flotChart-demo"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- Flot Pie Chart -->
     <div class="col-sm-12 col-md-4">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Pie chart </h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="flotChart">
                 <div id="flotChart8" class="flotChart-demo"></div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->