<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="header-icon">
     <i class="fa fa-file-word-o"></i>
  </div>
  <div class="header-title">
     <h1>Typography </h1>
     <small>The basic elements of typography</small>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-sm-12 col-md-6">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Headings</h4>
              </div>
           </div>
           <div class="panel-body">
              <!--<p class="m-b-15">All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>-->
              <div class="headding_ex">
                 <table class="table">
                    <tbody>
                       <tr>
                          <td>
                             <h1>h1. Heading 1</h1>
                          </td>
                          <td class="type-info">Semibold 36px</td>
                       </tr>
                       <tr>
                          <td>
                             <h2>h2. Heading 2</h2>
                          </td>
                          <td class="type-info">Semibold 30px</td>
                       </tr>
                       <tr>
                          <td>
                             <h3>h3. Heading 3</h3>
                          </td>
                          <td class="type-info">Semibold 24px</td>
                       </tr>
                       <tr>
                          <td>
                             <h4>h4. Heading 4</h4>
                          </td>
                          <td class="type-info">Semibold 18px</td>
                       </tr>
                       <tr>
                          <td>
                             <h5>h5. Heading 5</h5>
                          </td>
                          <td class="type-info">Semibold 14px</td>
                       </tr>
                       <tr>
                          <td>
                             <h6>h6. Heading 6</h6>
                          </td>
                          <td class="type-info">Semibold 12px</td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
     <div class="col-sm-12 col-md-6">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Paragraph text</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="peragraph_ex">
                 <p>Lorem ipsum <strong>eget urna mollis</strong> ornare vel eu leo. <em>Cum sociisnatoque penatibus</em> et magnis dis parturient montes, <code>code</code> nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed euismod aliquet sapien consequat tincidunt.</p>
                 <p>Vivamus sagittis lacus vel augue laoreet <abbr title="" data-original-title="Sample abbreviation">rutrum faucibus dolor auctor</abbr>. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Sed euismod aliquet sapien consequat tincidunt.</p>
                 <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual.
                 </p>
                 <p>
                    But I must explain to you how all this mistaken idea of
                 </p>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Inline text elements, Contextual Text Colors</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="row">
                 <div class="col-sm-6">
                    <h4 class="m-t-0">Inline text elements</h4>
                    <p>You can use the mark tag to
                       <mark>highlight</mark> text.
                    </p>
                    <p><del>This line of text is meant to be treated as deleted text.</del></p>
                    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                    <p><u>This line of text will render as underlined</u></p>
                    <p><small>This line of text is meant to be treated as fine print.</small></p>
                    <p><strong>This line rendered as bold text.</strong></p>
                    <p><em>This line rendered as italicized text.</em></p>
                 </div>
                 <div class="col-sm-6">
                    <h4 class="m-t-0">Contextual Text Colors</h4>
                    <p class="text-muted">This paragraph is styled with class "text-muted".</p>
                    <p class="text-primary">This paragraph is styled with class "text-primary".</p>
                    <p class="text-success">This paragraph is styled with class "text-success".</p>
                    <p class="text-info">This paragraph is styled with class "text-info".</p>
                    <p class="text-warning">This paragraph is styled with class "text-warning".</p>
                    <p class="text-danger">This paragraph is styled with class "text-danger".</p>
                    <p class="text-inverse">This paragraph is styled with class "text-inverse".</p>
                    <p class="text-purple">This paragraph is styled with class "text-purple".</p>
                    <p class="text-pink">This paragraph is styled with class "text-pink".</p>
                    <p class="text-black">This paragraph is styled with class "text-black".</p>
                    <p class="text-violet">This paragraph is styled with class "text-violet".</p>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-12 col-md-4">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Unordered</h4>
              </div>
           </div>
           <div class="panel-body">
              <ul>
                 <li>Lorem ipsum dolor sit amet</li>
                 <li>Consectetur adipiscing elit</li>
                 <li>Integer molestie lorem at massa</li>
                 <li>Facilisis in pretium nisl aliquet</li>
                 <li>
                    Nulla volutpat aliquam velit
                    <ul>
                       <li>Phasellus iaculis neque</li>
                       <li>Purus sodales ultricies</li>
                       <li>Vestibulum laoreet porttitor sem</li>
                       <li>Ac tristique libero volutpat at</li>
                    </ul>
                 </li>
                 <li>Faucibus porta lacus fringilla vel</li>
                 <li>Aenean sit amet erat nunc</li>
              </ul>
           </div>
        </div>
     </div>
     <div class="col-sm-12 col-md-4">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Ordered</h4>
              </div>
           </div>
           <div class="panel-body">
              <ol>
                 <li>Lorem ipsum dolor sit amet</li>
                 <li>Consectetur adipiscing elit</li>
                 <li>Integer molestie lorem at massa</li>
                 <li>Facilisis in pretium nisl aliquet</li>
                 <li>Nulla volutpat aliquam velit</li>
                 <li>Faucibus porta lacus fringilla vel</li>
                 <li>Aenean sit amet erat nunc</li>
                 <li>Lorem ipsum dolor sit amet,</li>
                 <li>Quisque varius enim at risus ultrices,.</li>
                 <li>Maecenas placerat mauris id.</li>
                 <li>In pellentesque lacus sit .</li>
                 <li>Sed dapibus nisl eget tempor.</li>
              </ol>
           </div>
        </div>
     </div>
     <div class="col-sm-12 col-md-4">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Unstyled</h4>
              </div>
           </div>
           <div class="panel-body">
              <ul class="list-unstyled">
                 <li>Lorem ipsum dolor sit amet</li>
                 <li>Consectetur adipiscing elit</li>
                 <li>Integer molestie lorem at massa</li>
                 <li>Facilisis in pretium nisl aliquet</li>
                 <li>
                    Nulla volutpat aliquam velit
                    <ul>
                       <li>Phasellus iaculis neque</li>
                       <li>Purus sodales ultricies</li>
                       <li>Vestibulum laoreet porttitor sem</li>
                       <li>Ac tristique libero volutpat at</li>
                    </ul>
                 </li>
                 <li>Faucibus porta lacus fringilla vel</li>
                 <li>Aenean sit amet erat nunc</li>
                 <li>Eget porttitor lorem</li>
              </ul>
           </div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Address, Blockquotes, Alignment</h4>
              </div>
           </div>
           <div class="panel-body">
              <div class="row">
                 <div class="col-sm-6 col-md-4">
                    <h4 class="m-t-0">Address</h4>
                    <address> <strong>Twitter, Inc.</strong><br> 1355 Market Street, Suite 900<br> San Francisco, CA 94103<br> <abbr title="Phone">P:</abbr> (123) 456-7890 </address>
                    <address> <strong>Full Name</strong><br> <a href="/cdn-cgi/l/email-protection#4162"><span class="__cf_email__" data-cfemail="1177786362653f7d706265517469707c617d743f727e7c">[email&#160;protected]</span></a> </address>
                 </div>
                 <div class="col-sm-6 col-md-4">
                    <h4 class="m-t-0">Blockquotes</h4>
                    <blockquote>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                       <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                 </div>
                 <div class="col-sm-6 col-md-4">
                    <h4 class="m-t-0">Alignment</h4>
                    <p class="text-left">Left aligned text.</p>
                    <p class="text-center">Center aligned text.</p>
                    <p class="text-right">Right aligned text.</p>
                    <p class="text-justify">Justified text.</p>
                    <p class="text-nowrap">No wrap text.</p>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-12 col-md-5">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Description</h4>
              </div>
           </div>
           <div class="panel-body">
              <dl>
                 <dt>Description lists</dt>
                 <dd>A description list is perfect for defining terms.</dd>
                 <dt>Euismod</dt>
                 <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                 <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                 <dt>Malesuada porta</dt>
                 <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
              </dl>
           </div>
        </div>
     </div>
     <div class="col-sm-12 col-md-7">
        <div class="panel panel-bd lobidisable">
           <div class="panel-heading">
              <div class="panel-title">
                 <h4>Horizontal description </h4>
              </div>
           </div>
           <div class="panel-body">
              <dl class="dl-horizontal">
                 <dt>Description lists</dt>
                 <dd>A description list is perfect for defining terms.</dd>
                 <dt>Euismod</dt>
                 <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                 <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                 <dt>Malesuada porta</dt>
                 <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                 <dt>Felis euismod semper eget lacinia</dt>
                 <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
              </dl>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- /.content -->