 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="header-icon">
       <i class="fa fa-gear"></i>
    </div>
    <div class="header-title">
       <h1>User Settings</h1>
       <small>List of the users</small>
    </div>
 </section>
 <!-- Main content -->
 <section class="content">
    <div class="row">
       <div class="col-sm-12">
          <div class="panel panel-bd lobidrag">
             <div class="panel-heading">
                <div class="btn-group" id="buttonexport">
                   <a href="#">
                      <h4>Add Admin</h4>
                   </a>
                </div>
             </div>
             <div class="panel-body">
                <div class="btn-group buttonexport" id="buttonexport"> 
                   <a href="#" class="btn btn-add" data-toggle="modal" data-target="#update1"><i class="fa fa-plus"></i> Add admin</a>  
                </div>
                <div class="table-responsive">
                   <table class="table table-bordered table-striped table-hover">
                      <thead>
                         <tr class="info">
                            <th>Avatar</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Type</th>
                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td><img src="assets/dist/img/w6.png" class="img-circle" alt="User Image" width="50" height="50"></td>
                            <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="de8da8bbb0ad9eb7b0b8b1aabbbdf0bdb1b3">[email&#160;protected]</a></td>
                            <td>CREDIT SUISSE</td>
                            <td><span class="label-custom label label-default">Admin</span>
                            </td>
                            <td>
                               <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#update"><i class="fa fa-pencil"></i></button>
                               <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer2"><i class="fa fa-trash-o"></i> </button>
                            </td>
                         </tr>
                         <tr>
                            <td><img src="assets/dist/img/w7.png" class="img-circle" alt="User Image" width="50" height="50"></td>
                            <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6d23021f09080c2d04030b0219080e430e0200">[email&#160;protected]</a></td>
                            <td>Nordea SUISSE</td>
                            <td><span class="label-warning label label-default">co-Admin</span>
                            </td>
                            <td>
                               <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#update"><i class="fa fa-pencil"></i></button>
                               <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer2"><i class="fa fa-trash-o"></i> </button>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- Add User Modal1 -->
    <div class="modal fade" id="update1" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header modal-header-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><i class="fa fa-user m-r-5"></i> Add User</h3>
             </div>
             <div class="modal-body">
                <div class="row">
                   <div class="col-md-12">
                      <form class="form-horizontal">
                         <fieldset>
                            <!-- Text input-->
                            <div class="col-md-6 form-group">
                               <label class="control-label">Avatar</label>
                               <input name="filebutton" class="input-file" type="file">
                            </div>
                            <!-- Text input-->
                            <div class="col-md-6 form-group">
                               <label class="control-label">Username</label>
                               <input type="text" placeholder="Username" class="form-control">
                            </div>
                            <!-- Text input-->
                            <div class="col-md-6 form-group">
                               <label class="control-label">Full Name</label>
                               <input type="text" placeholder="Full Name" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                               <label class="control-label">Type</label>
                               <input type="text" placeholder="Type" class="form-control">
                            </div>
                            <div class="col-md-12 form-group user-form-group">
                               <div class="pull-right">
                                  <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                  <button type="submit" class="btn btn-add btn-sm">Save</button>
                               </div>
                            </div>
                         </fieldset>
                      </form>
                   </div>
                </div>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
             </div>
          </div>
          <!-- /.modal-content -->
       </div>
       <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->    
    <!-- User Modal1 -->
    <div class="modal fade update1" id="update" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header modal-header-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><i class="fa fa-user m-r-5"></i> Update User Type</h3>
             </div>
             <div class="modal-body">
                <div class="row">
                   <div class="col-md-12">
                      <form class="form-horizontal">
                         <fieldset>
                            <!-- Text input-->
                            <div class="col-md-6 form-group">
                               <label class="control-label">Avatar</label>
                               <input name="filebutton" class="input-file" type="file">
                            </div>
                            <!-- Text input-->
                            <div class="col-md-6 form-group">
                               <label class="control-label">Username</label>
                               <input type="text" placeholder="Username" class="form-control">
                            </div>
                            <!-- Text input-->
                            <div class="col-md-6 form-group">
                               <label class="control-label">Full Name</label>
                               <input type="text" placeholder="Full Name" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                               <label class="control-label">Type</label>
                               <input type="text" placeholder="Type" class="form-control">
                            </div>
                            <div class="col-md-12 form-group user-form-group">
                               <div class="pull-right">
                                  <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                  <button type="submit" class="btn btn-add btn-sm">Save</button>
                               </div>
                            </div>
                         </fieldset>
                      </form>
                   </div>
                </div>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
             </div>
          </div>
          <!-- /.modal-content -->
       </div>
       <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->    
    <!-- Customer Modal2 -->
    <div class="modal fade" id="customer2" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header modal-header-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><i class="fa fa-user m-r-5"></i> Delete Customer</h3>
             </div>
             <div class="modal-body">
                <div class="row">
                   <div class="col-md-12">
                      <form class="form-horizontal">
                         <fieldset>
                            <div class="col-md-12 form-group user-form-group">
                               <label class="control-label">Delete Customer</label>
                               <div class="pull-right">
                                  <button type="button" class="btn btn-danger btn-sm">NO</button>
                                  <button type="submit" class="btn btn-add btn-sm">YES</button>
                               </div>
                            </div>
                         </fieldset>
                      </form>
                   </div>
                </div>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
             </div>
          </div>
          <!-- /.modal-content -->
       </div>
       <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
 </section>
 <!-- /.content -->