 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="header-icon">
       <i class="fa fa-sticky-note"></i>
    </div>
    <div class="header-title">
       <h1>Note Summery</h1>
       <small>Note Summery details</small>
    </div>
 </section>
 <!-- Main content -->
 <section class="content">
    <div class="row">
       <div class="col-sm-12">
          <div class="panel panel-bd lobidrag">
             <div class="panel-heading">
                <div class="btn-group" id="buttonexport">
                   <a href="#">
                      <h4>Note Summery</h4>
                   </a>
                </div>
             </div>
             <div class="panel-body">
                <div class="quote-container">
                   <i class="pin"></i>
                   <blockquote class="note yellow">
                      This is sticky note.you can add notes here if you want.
                      <cite class="author">Alrazy</cite>
                   </blockquote>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- /.content -->